<div class="rounded flex flex-col items-center max-w-full md:p-8">
  <div class="mt-6 w-full max-w-3xl flex">
    <div (click)="handleClick('How do I use LlamaIndex to answer questions about my private data?')"
         class="w-1/2 bg-gray-700 hover:bg-gray-600 cursor-pointer rounded p-4 text-center">
      <h2 class="text-gray-200 text-lg font-medium">
        How do I use LlamaIndex to answer questions about my private data?
      </h2>
    </div>
    <div class="w-2"></div>
    <div (click)="handleClick('How do I get started with LlamaIndex for RAG?')"
         class="w-1/2 bg-gray-700 hover:bg-gray-600 cursor-pointer rounded p-4 text-center">
      <h2 class="text-gray-200 text-lg font-medium">
        How do I get started with LlamaIndex for RAG?
      </h2>
    </div>
  </div>
</div>